<header>
    <div class="top-bar_sub_w3layouts container-fluid">
        <div class="row">
            <div class="col-md-4 logo text-left">
                <a class="navbar-brand" href="/Blog/IndexBLog">
                    <i class="fab fa-linode"></i> DENTLOG
                </a>
            </div>
            <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
                
               
            </div>
             
            <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
                <span class="mx-lg-4 mx-md-2  mx-1">
                    <a href="/Register/IndexSignIn">
                        <i class="fas fa-lock"></i> Giriş Yap
                    </a>
                </span>
                <span>
                    <a href="/Register/IndexRegister">
                        <i class="far fa-user"></i> Yazarlık Başvurusu
                    </a>
                </span>

            </div>
        </div>
    </div>
</header>