
@{
    ViewData["Title"] = "Error1";
    Layout = "~/Views/Shared/UI_Layout.cshtml";
}
<br />
 
   <table style="margin: auto; background-color:antiquewhite;  ">
       <tr  style="margin:30px; padding:30px" >
           <td>
               <img src="~/images/404hata.jpg" style="align-content:flex-start" />
           </td>

           <td valign="middle" align="center">
               <h1 style="color:red">HATA: 404</h1>
               <br />
               <h2 style="color:purple">Aradığınız Sayfa Bulunamadı!</h2><br />

               <h4 style="color:lightpink">Belki de, Sanırım, Galiba KAYBOLDUNUZ :)</h4><br />

                Yukarıdaki Menüleri Kullanabilirsiniz... <br />
           </td>
       </tr>


   </table>
     
  
<br />